@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(55 65 81);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(96 165 250);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(59 130 246);
}

.navItem {
    @apply hover:bg-slate-600 py-2 me-3 rounded-md hover:bg-opacity-30 flex hover:cursor-pointer;
}

.navMainItem {
    @apply text-white font-medium text-lg;
}

.navSubItem {
    @apply text-slate-200 ps-11;
}

.active {
    @apply bg-slate-600 bg-opacity-30 hover:bg-opacity-60;
}